body {
    padding: 0px;
    margin: 0px;
}

.dl-modal  {
    position: fixed;
    top: 0px;
    left: 0px;
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    overflow-y: scroll;
}

.dl-modal .modal {
    display: block;
    padding: 30px 10px 10px 10px;
    width: 416px;
    margin: 50px auto;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 0px 23px -2px rgba(0,0,0,0.06);
}

.dl-modal .low-bar {
    margin: 0px;
    margin: 15px -10px -10px -10px;
    height: 45px;
    background-color: #f8f8f8;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dl-modal .tabWrapper {
    text-align: center;
}

.dl-modal .dl-tab-btn {
    border: 1px solid #1ea6a3;
    font-family: Rubik;
    font-weight: lighter;
    font-size: 0.9em;
    padding: 6px 8px 4px 8px;
    display: inline-block;
    color: #1ea6a3;
    border-left: none;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 5px;
}

.dl-modal .dl-tab-btn.active {
    color: #fff;
    background: #1ea6a3;
    cursor: default;
}

.dl-modal .dl-tab-btn:first-child {
    border-left: 1px solid #1ea6a3;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.dl-modal .dl-tab-btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.dl-modal .btn {
    float: right;
    padding: 5px 10px 5px 10px;
    margin-top: 6px;
    margin-right: 10px;
    border: 2px solid #1ea6a3;
    border-radius: 4px;
    font-family: Rubik;
    color: #1ea6a3;
    background-color: transparent;
    cursor: pointer;
}

.dl-modal .btn:hover {
    border: 2px solid #22bb8b;
    box-shadow: 0px 0px 19px -1px rgba(34,187,139,0.1);
}

.dl-form {
    font-family: Rubik;
    width: 500px;
}

.dl-form label {
    display: block;
    width: 400px;
    margin-bottom: 7px;
    margin-left: 2px;
    font-size: 0.9em;
    color: #58565c;
    font-weight: #500;
    margin-top: 25px;
}

.dl-form form > .dl-form-field-wrapper.notInTab {
    display: none;
}

.dl-form form > .dl-form-field-wrapper.inactive {
    display: none;
}

.dl-form form > .dl-form-field-wrapper > input, .dl-form form > .dl-form-field-wrapper >  textarea {
    outline-width: 0;
    border: 2px solid #ddd;
    border-radius: 4px;
    width: 400px;
    max-width: 400px;
    min-width: 400px;
    padding: 6px;
    font-size: 0.9em;
    font-weight: 300;
    font-family: 'Rubik', sans-serif;
}

.dl-form form > .dl-form-field-wrapper > textarea {
    min-height: 200px;
}

.dl-form form > .dl-form-field-wrapper > input:focus {
    border: 2px solid #bbb;
}

.dl-form form > p {
    border: none;
    max-width: 360px;
    min-width: 360px;
    padding: 6px;
    padding-top: 20px;
    line-height: 150%;
    font-family: 'Rubik', sans-serif;
}

.dl-modal .up-bar {
    margin: 0px;
    margin: -20px -0px -10px -50px;
}

.cancelBtn {
    float: right;
    width: 12px;
    height: 16px;
    position: relative;
    transform:rotate(45deg);
    opacity: 0.3;
    cursor: pointer;
}

.cancelBtn:hover {
    opacity: 0.6;
}

.cancelBtn:before, .cancelBtn:after {
    content: "";
    position: absolute;
    z-index: -1;
    background: #000;
}

.cancelBtn:before {
    left: 6px;
    width: 2px;
    margin-left: -1px;
    height: 12px;
}

.cancelBtn:after {
    top: 6px;
    height: 2px;
    margin-top: -1px;
    width: 12px;
}
